@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@import '@/app/fonts/fonts.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/swiper-bundle.css';

:root {
  --background: #ffffff;
  --foreground: #0f0f19;
  --headerFooter: #233449;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7ffff;
    --foreground: #0f0f19;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 4px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color del fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #0f0f19; /* Color de la barra */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0f0f19; /* Color al hacer hover sobre la barra */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inria Sans', sans-serif;
  line-height: 1.6; /* Ideal para el texto de párrafo */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2; /* Ideal para títulos */
}


p {
  line-height: 1.5; /* Texto de párrafo */
}

ul, ol {
  line-height: 1.6; /* Listas */
}

header {
  /* background: var(--headerFooter); */
  @apply py-5 px-10 lg:px-40 text-white;
}

nav {
  ul{
    @apply p-0;
    list-style: none;
  }
  li{
    @apply inline
  }
}
main{
}

footer {
  @apply text-center p-4 text-white;
  background: var(--headerFooter);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.blinking-icon {
  animation: blink 2s infinite; // Cambia la duración según tus preferencias
}

.swiper-wrapper{
  align-items: center;
}

/* Estilos para móviles */
@media (max-width: 767px) {
  body {
    .animation-infinite-axis-x {
      @apply animate-none;
    }
  }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
  }
}

/* Estilos para escritorio */
@media (min-width: 1024px) {
  body {
  }
}
